BeautifulSoup==3.2.1
Pillow==2.9.0  # last version that correctly generates cover pages
argparse==1.2.1
boto==2.32.1
ecdsa==0.11
html5lib==0.9999999
lxml==3.3.5
pisa==3.0.33
pyPdf==1.13
reportlab==2.7
requests==2.22.0
six==1.9
xhtml2pdf==0.0.5
